# Ignore the massive SWC dataset
SWCs/
SWCs_test/
*.swc

# Ignore tokenized output and models
*.json
*.jsonl
*.pkl
*.nrrd
*.parquet
*.pt
*.pth

# Ignore python caches and logs
__pycache__/
*.pyc
*.log
logs/
scratch*.py
.vscode/
